<style>
      .meu-nome{
        font-family: initial;
        } 
      .descrição{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
      .ondemoro{
        font-weight: 800;
        font-style: italic;
        text-decoration-line: initial;
       }
       .ul{
         color: #fff;
       }
       .proatividade{
         font-size: 20px;
         }
       .comunicar{
         font-size: 25px;
         }
         .resiliência{
           font-size: 30px;
         }
         .atenção{
           font-size: 35px;
         }
         .organização{
           font-size: 25px;
         }

        body{ 
        background-color: #e5989b;
        }

        #miha-foto{
            float: left;
            height: 300px;
        }
        .imagem-conteudo{
            height: 200px;
        }
        
       
        div{
            border: 2px solid green;
        }


</style>